/* 
====================================
	Author - Manoj Choudhary
   Date   - 10/02/2020
====================================
*/   


/* font faces */
@font-face {
    font-family: 'gilroy-bold';
    src: url('../fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.svg') format('svg'); /* Legacy iOS */
  }
  @font-face {
    font-family: 'gilroy-extraBold';
    src: url('../fonts/Gilroy/Gilroy-ExtraBold/Gilroy-ExtraBold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Gilroy/Gilroy-ExtraBold/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Gilroy/Gilroy-ExtraBold/Gilroy-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Gilroy/Gilroy-ExtraBold/Gilroy-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Gilroy/Gilroy-ExtraBold/Gilroy-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Gilroy/Gilroy-ExtraBold/Gilroy-ExtraBold.svg') format('svg'); /* Legacy iOS */
  }
  @font-face {
    font-family: 'gilroy-medium';
    src: url('../fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Gilroy/Gilroy-Medium/Gilroy-Medium.svg') format('svg'); /* Legacy iOS */
  }
  @font-face {
    font-family: 'gilroy-light';
    src: url('../fonts/Gilroy/Gilroy-Light/Gilroy-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Gilroy/Gilroy-Light/Gilroy-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Gilroy/Gilroy-Light/Gilroy-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Gilroy/Gilroy-Light/Gilroy-Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Gilroy/Gilroy-Light/Gilroy-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Gilroy/Gilroy-Light/Gilroy-Light.svg') format('svg'); /* Legacy iOS */
  }
  @font-face {
    font-family: 'gilroy-regular';
    src: url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Gilroy/Gilroy-Regular/Gilroy-Regular.svg') format('svg'); /* Legacy iOS */
  }
  @font-face {
    font-family: 'gilroy-semibold';
    src: url('../fonts/Gilroy/Gilroy-SemiBold/Gilroy-SemiBold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Gilroy/Gilroy-SemiBold/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Gilroy/Gilroy-SemiBold/Gilroy-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Gilroy/Gilroy-SemiBold/Gilroy-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Gilroy/Gilroy-SemiBold/Gilroy-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Gilroy/Gilroy-SemiBold/Gilroy-SemiBold.svg') format('svg'); /* Legacy iOS */
  } 

body{
	font-family:"gilroy-regular",sans-serif;
}
/* common */
.illustrative{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0000006b;
    color: #fff;
    text-align: center;
    padding: 12px;
}
:root {
	--transition:0.4s; 
	--bg-light-1:#eef5f9;
}
.center{
	text-align:center;
	vertical-align:middle;
}
.green{color:green;}
.background-1{
  background:var(--bg-light-1);
}
.bg-white{
	background:#fff;
}
.padd-bottm-10{
	 padding-bottom: 10px;

}
.active{
	color: #0e5bbf;
	 
}
.width-90{
    max-width: 98%;
    margin: auto;
}
.bg-grey-1{
    margin-top: 30px;
    border-radius: 4px;
} 
.default-top{
    margin-top: 90px;
}
.align-baseline{
    align-items: baseline;
}
.content-area {
    background: #ffffff;
  padding-top: 28px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
	    position: relative;
}	
.builder-border-default{
    border: 2px dashed #272798;
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    background: #f3f3f3;
}	
.default-border{
    min-height: 100px;
    border: 2px dashed #27279840;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #fff;
   transition: var(--transition);
    position: relative;
    padding-left:5px;
    padding-right:5px;
    resize: both;
  overflow: auto;
padding: 15px;
} 
.col-default-border{
    min-height: 100px;
    border: 2px dashed #607D8B;
   padding:20px;
    background: #fff;
   transition: var(--transition);
    position: relative;
    resize: both;
overflow: auto;
} 

 



/* Top Navigation bar */
.top-nav {
    background-color: #fff;
    box-shadow: 0 5px 5px -2px rgba(142,141,141,.5);
	padding: 0.3rem 0.3rem;
}
.top-nav .navbar-brand img{
	    max-width: 120px;
}
.top-nav .navbar-brand img.studio{
	margin-left: 20px;
    padding-top: 12px;
}

.top-nav .nav-link{
    color: #1270b3;
    font-weight: 700;
    min-width: 40px;
    text-align: center;
    margin: 2px;
    padding: 0.2rem 0.2rem;
    font-size: 14px;
}
.top-nav .nav-link:hover, .top-nav .nav-link:focus, .top-nav .nav-link:active, .top-nav .nav-link.active{
	color: #ffffff;
    outline: 0;
    border-radius: 0%;
    background: #0e5bbf;    
}
.top-nav .align-right-auto{
	left:auto;
	right: 0;
}
 
.top-nav .navbar-nav  li{
	position:relative;
	
}
.top-nav .change-project{
	
	
}
 .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.top-nav .nav-link.dropdown-toggle:after{
display:none;
}
.top-nav .nav-link.dropdown-toggle.change-project:after{
display:inline-block;
}
.top-nav .nav-link.dropdown-toggle{
    border-radius: 50%;
    border: 1px solid #6aa4f0;
}
.top-nav .nav-link.dropdown-toggle.change-project{
    background: #0e5bbf;
    border-radius: 10px;
    padding: 4px;
    padding-right: 10px;
    padding-left: 10px;
	border-color:#0e5bbf;
}

.top-nav .dropdown-item{
	
}
.top-nav .ecompass{
    margin-left: 14px;
    font-family: gilroy-bold;
    display: inline-block;
    font-size: 28px;
	color:#fff;
}



@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.top-nav .rotating {
    -webkit-animation: rotating 2s linear infinite;
    font-size: 21px;
}

.top-nav .brand-logo{
    max-width: 100px;
    max-height: 26px;
    padding-right: 4px;
    padding-left: 4px;
    border-right: 2px solid #ffffff4a;
	
}
.top-nav .brand-name{
    padding-right: 4px;
    padding-left: 8px;    	
}
.top-nav .dropdown-menu {
   font-family: gilroy-medium;
}
.top-nav .dropdown-menu .dropdown-item i{
       padding-right: 6px;
}

@media (min-width: 0px){
 
.top-nav.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
}
}



/* Top Navigation ENds */



.dasboard-sub-header{
	padding:15px;
    margin-top: 80px;
}
.dasboard-sub-header ul{
	font-weight: 700;
    padding: 0;
    list-style: none;
	margin-bottom: 0;
}
.dasboard-sub-header ul li{
    display: inline-block;
    border-bottom: 2px solid #000;
    cursor: pointer;
    transition: var(--transition);
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
}
.dasboard-sub-header ul li:hover, .dasboard-sub-header ul li:focus,
.dasboard-sub-header ul li:active{
    color:#0f059e;
	border-bottom: 2px solid #0f059e;
}
.dasboard-sub-header .content-right{
    display: flex;
    align-items: center;
    max-width: 650px; 
    margin-left: auto;
}
.dasboard-sub-header .content-right input.form-control{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    padding-left: 4px;
    color: #000;
    font-family: gilroy-medium;  
    box-shadow:none;
    transition: var(--transition);
    background: transparent;
    color:#753bbc;
}
.dasboard-sub-header .content-right .input-group-text{
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000000;
    box-shadow: none;
	cursor:pointer;
    transition: var(--transition);
}
.dasboard-sub-header .content-right .input-group-text:hover, .dasboard-sub-header .content-right .input-group-text:focus{
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #0f059e;
    box-shadow: none;
    color: #0f059e;
}
.dasboard-sub-header .content-right .search-box{
    margin-right: 20px;
    width: 100%;    
}
.dasboard-sub-header .content-right input.form-control:hover, .dasboard-sub-header .content-right input.form-control:active,
.dasboard-sub-header .content-right input.form-control:focus-within{
 box-shadow:none;
 border-color: #0f059e; 
}
.add-new-box{
    text-align: center;
    min-width: 200px;
    cursor: pointer;
    font-weight: 700;
    transition: var(--transition);
    position: absolute;
    top: 2.6rem;
    left: 200px;
	cursor:pointer;
	z-index:22;
}
.add-new-box:hover, .add-new-box:focus{
color: #753bbc;
}
.body-bg-typ-1{
	    background: linear-gradient(90deg,#17244f 0,#05b5c1);
}
.bg-img-1{
	
	    position: absolute;
    background: transparent url(../img/background.png) 0 100% no-repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 280px;
    opacity: .5;
}
.hero-section-1{
	text-align:center;
	
}
.body-bg-typ-1 .hero-section-1{
	color:#fff;
}
.flex{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
.flex-dir-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.no-wrap{
	flex-wrap: nowrap;
	
}
.page-tile{
    max-width: 400px;    
    min-width: 400px;
    background: #efefef;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    min-height: 130px;
    width: 33.333%;
	cursor:pointer;
	position: relative;
	transition: var(--transition); 
}
 
.page-tile .status{
    position: absolute;
    right: 10px;
    bottom: 8px;
    background: #0080001f;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #0e860e;
}
.page-tile .status.inactive{
	color: #f4433694;
    background: #f443361c;
}
.page-tile .desc{
    font-size: 14px;
    color: #737373;
    line-height: 1.3;
	    padding-left: 48px;
}
.dasboard-sub-header .features{
	padding-top:10px;
	padding-bottom:6px;
}
.dasboard-sub-header ul.feature-list{
	    margin-top: 10px;
}
.dasboard-sub-header ul.feature-list li{
	display: block;
    border-bottom: none;
    cursor: default;
    transition: var(--transition);
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    background: #d2d2d2;
    margin-bottom: 2px;
    padding: 2px;
    padding-left: 10px;
    border-radius: 6px;
	font-weight:500;
}
.desc-standard{
    font-size: 14px;
    color: #737373;
    line-height: 1.3;	    
}
.desc-standard .link-continer{
 	text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.desc-standard .try-it-now{
        display: inline-block;
    text-align: center;
    background: #752b75;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    min-width: 140px;   
}
.desc-standard .try-it-now.bg-2{
	background:#126bf0;
}
.desc-standard .try-it-now.bg-3{
	background:#013c60;
}


.page-tile .title {
    font-family: gilroy-bold;
    display: flex;
    align-items: center;
}
.page-tile .header-bar {
    font-family: gilroy-bold;
    display: block;
    align-items: center;
    text-align: center;
    background: #742774;
    color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-bottom: 10px;
}
.page-tile .header-bar.bg-2{
	background:#126bf0;
}
.page-tile .header-bar.bg-3{
	background:#013c60;
}

.page-tile .header-bar .cap-img{
	max-width:60px;
}
.page-tile .title .item-icon{
    font-size:40px;
    margin-right:10px; 
}

.page-tile .action-btn-row{
    display: none;
    position: absolute;
    bottom: 8px;
    opacity:0;
    transition: var(--transition);
}
.page-tile .action-btn-row ul li{
    border: none;
    padding: 0px;
    font-family: gilroy-regular;
    margin: 2.5px;
    margin-right: 5px;
}
.page-tile .action-btn-row ul li:hover, .page-tile .action-btn-row ul li:focus{
border:none;
}

.page-tile:hover .action-btn-row,
.page-tile:focus .action-btn-row,
.page-tile:active .action-btn-row{
	display:block;
    opacity:1;
}
.page-tile:hover, .page-tile:focus{
    background: #d2d2d2;
}
/* bredcrumbs */

.info-row-level-1{	
	display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-size: 12px;	
}
.info-row-level-1 .breadcrumb{	
	margin-bottom:0;
	    padding: .5rem 1rem;
}
.info-row-level-1 .last-updated{
   padding: .5rem 1rem;
}
.info-row-level-2{
	position: relative;
}
.info-row-level-2 ul{
	padding:0;
	margin:0;
	list-style:none;
	display:flex;
	flex-wrap: wrap;
}
.info-row-level-2 ul.action-items{
	flex-wrap: nowrap;
}
.info-row-level-2 ul.action-items li{
margin: 2px;
    padding: 5px;
    color: #777777;
    min-width: 50px;
    text-align: center;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    border: 1px solid #c5c5c5;
}
.info-row-level-2 ul.filter-items{
	
	padding-top: 3px;
    padding-bottom: 1px;
}

.info-row-level-2 ul.filter-items li{
padding: 5px;
    color: #777777;
    min-width: 50px;
    text-align: center;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    font-size: 14px;
    background: #fff;    
}
.info-row-level-2 ul.filter-items li.filtered{
background: #e2e2e2;
    padding-left: 10px;
    padding-right: 20px;
    position: relative;
    margin-bottom: 2px;
    border-right: 2px solid #ffffff4f;
}
.info-row-level-2 ul.filter-items li.filtered i{
    position: absolute;
    right: 0px;
    color: #ff000054;
    transition: var(--transition);
    top: -6px;
	display:none;
}
.info-row-level-2 ul.filter-items li.reset-filter{
	background:transparent;
}
.info-row-level-2 ul li:hover, .info-row-level-2 ul li:focus, .info-row-level-2 ul li:active{
    color: #1a73e8;
    border-color: #1a73e8;
}
.info-row-level-2 ul.filter-items li:hover i, .info-row-level-2 ul.filter-items li:active i, .info-row-level-2 ul.filter-items li:focus i{
	display:block;
}
.info-row-level-2 ul.filter-items li.filtered i:hover, .info-row-level-2 ul.filter-items li.filtered i:focus{
	color: #ff0000;
}
.info-row-level-2 ul.filter-items li.reset-filter:hover, .info-row-level-2 ul.filter-items li.reset-filter:focus{
	color: #ff0000;
}
.flex-align-ends{
	display:flex;
	align-items: baseline;
    justify-content: space-between;
}
.info-row-level-2 ul.action-items li.date-col{
    padding-top: 2px;
    padding-bottom: 2px;
    width: 270px;
}
.date-range-picker{
	background: transparent;
    cursor: pointer;
    padding: 0;
    border: 0px solid #ccc;
	position: relative;
	display: flex;
    flex-direction: column;
	text-align:left;
	padding-left: 20px;
}

.date-range-picker .range-text{
	display: block;
    font-size: 12px;
    line-height: 1;
}
.date-range-picker .range{
    font-size: 12px;
    font-weight: 700;
}
.date-range-picker .clander-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1px;
}

/* side widget nav */
.side-nav{
    position: fixed;
    top: 90px;
    z-index: 999;
    width: 260px;
    height: 100%;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    background: #fff;
    padding: 0px;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    bottom: 0;
}
.side-nav .widget-title{    
    text-align: center;
    font-family: gilroy-bold;
    color: #0e5bbf;
    padding: 10px;
    padding-top:16px;
 
}
 
.bg-clear{
background:transparent;
}
.title-img{
   
}
.title-img span{
    font-size: 20px;
}
.title-img span small{
        display: block;
    font-size: 12px;
}

.side-nav ul{
list-style: none;
    padding: 15px;
    margin: 0;
}
.side-nav ul li{    
    display: flex;
    align-items: center;
    padding: 10px;
    background: #ffffff;
    border-bottom: 1px solid #dedede;
    font-family: gilroy-medium;

}
.side-nav ul li.active{
	color: #0e5bbf;
	border-color:#bbbbbb;
	background:#e2e2e2;
}
#side-nav-accordionMenu{
	    padding: 15px;
}
#side-nav-accordionMenu .panel-default>.panel-heading.active {
    color: #0e5bbf;
    border-color: #bbbbbb;
    background: #e2e2e2;
}
#side-nav-accordionMenu .panel-default>.panel-heading {     
    background: #fff;
}
#side-nav-accordionMenu .panel-default{
     
    background: #fff;
}
#side-nav-accordionMenu .panel-default>.panel-heading h4.panel-title. {
     
    background: #e2e2e2;
}

.side-nav ul li:hover, .side-nav ul li:active, .side-nav ul li:focus{
	    background: #efefef;
		cursor:pointer;
}
.side-nav ul li .icon{    
    width: 20px;
    text-align: center;}
.side-nav ul li .text{
	width: 100%;
padding-left:6px;
}
.side-nav ul li .drag{
    width: 24px;
    text-align: center;
}
.padd-left{
    /* padding: 15px; */
    padding-left: 274px;
}
.builder{
background: #ffffff;
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}
.page-titles {
    background: #fff;
    margin: 0 -30px 30px;
    padding: 15px;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
}
.custom_group{   
 
    padding: 16px;
    border: 0;
    max-width: 1200px;
    margin-bottom: 14px;
    
}
.custom_input{
    border: none;
    border-bottom: 1px solid #bcd8dc;
    border-radius: 0;
    color: #00BCD4;	
	background:transparent;
}
.form-check .ext_link{
	    margin-top: 14px;
}
 
.custom_input:hover, .custom_input:focus, .custom_input:active, .custom_input:visited, .custom_input:focus-within{
	background-color: #fff;
    border-color: #0a96d3;
    outline: 0;
    box-shadow: none;
	background:transparent;
}

.custom_group .form-check {
    position: relative;
    display: flex;
    padding-left: 1.25rem;
    justify-content: flex-start;
    margin-left: 30px;
}
.material-icons {
    font-family: 'Material Icons';
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    display: inline-block;
    letter-spacing: normal;
    text-transform: none;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}
.blue {
    color: #16abd6;
}
#builder_screen, #preview_screen{
 min-height:75vh;
}
.custom-container{
	min-height:100px;
    border: 1px solid #000;
}




.widget{
    border-bottom: 1px solid #292997;
    background: #272798;
    color: #fff;
    font-family: gilroy-medium;
    box-shadow: 0px 8px 15px rgba(39, 39, 152, 0.41);
    padding: 14px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.widget:before{
    /*
    content: '';
    background: red;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    */
 
}
.widget-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.widget-nav ul li{ 
    display: flex;
    cursor: grab;
    margin-left: 1px;
    margin-right: 1px;
    padding-right: 4px;
    padding-left: 4px;
    border-right: 1px solid #ffffff3d;
    transition: var(--transition);
    padding-top: 3px;
    padding-bottom: 3px;
}
.widget-nav ul li:last-child{
	border-right: none; 
}
.widget-nav ul li .icon{ 
    padding: 4px;     
}

.widget-nav ul li .icon{ 
    padding: 4px;     
}
.widget-nav ul li .text{ 
    padding: 4px;     
}
.widget-nav ul.item-align-end{ 
        justify-content: flex-end; 
}
.widget-nav ul li:hover, .widget-nav ul li:focus, .widget-nav ul li:active{
background: #ffffff3d;
    border-radius: 4px;
}
.widget-nav.action-btn-row{
	
}
.widget-nav .action-btn-row li{
	    cursor: default;
}
.default-border:hover, .default-border:active, .default-border:focus{
    border-color: #272798;
}
.section-header{
    position: absolute;
    background: #00bcd438;
    font-size: 12px;
    right: 2px;
    top: 2px;
	transition: var(--transition);     
	display:none;
}
/*
.default-border:hover>.section-header, .default-border:focus>.section-header, .default-border:active>.section-header{
	display:block;
	opacity:1;
}
*/
.section-header ul{    display: flex;
    align-items: center;
	list-style:none;
padding:0;
margin:0;
}
.section-header ul li{
	padding: 6px;     
	cursor: pointer;
	transition: var(--transition);
}
.section-header ul li:hover, .section-header ul li:focus{
	 background: #00BCD4;
    color: #fff;
}
.section-header ul li:last-child{
    border-left: 2px solid #fff;
}
.dashboard-item {
    text-align: center;
    cursor: pointer;
    font-weight: 700;
}
.dashboard-item .chart-icon{

    height: 40px;
    width: 40px;
    background: #0a036d59;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    display: block;
    margin: auto;
}
.dashboard-item .span{


}
.recommendations-table{
	    font-family: gilroy-medium;
}
.recommendations-table tr td, .recommendations-table tr th{
	vertical-align:middle;
}
.recommendations-table .recommendations-img{
	max-width:60px;
}
.recommendations-table .product-img{
	padding-right:15px;
}
.recommendations-table .flex-dir-col h4{
    font-family: gilroy-medium;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0;
    color: #000000;
}
.recommendations-table .flex-dir-col  h4 a{
	color: #000000;
	text-decoration:none;
}
.recommendations-table .flex-dir-col .sku-link a{
    font-size: 0.9rem;
    color: #8c8c8c;
    font-family: gilroy-medium;
	text-decoration:none;
}
.recommendations-table .flex-dir-col .sku-link i{
    font-size: 1rem;
    color: #8c8c8c;
	cursor:pointer;
	margin-left: 8px;
}

.recommendations-table .remove{
    text-align:center;
	color: #8c8c8c;
	cursor:pointer;
}
.recommendations-table .recommendations-type{
    
}
.recommendations-table .recommendations-type ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.recommendations-table .recommendations-type ul li{
   display: inline-block;
    border: 1px solid #4a4a4a;
    margin: 2px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    color: #4a4a4a;
    transition: var(--transition);	
	cursor: pointer;
	    font-size: 0.9rem;
}

.recommendations-table .recommendations-type ul li:hover,
.recommendations-table .recommendations-type ul li:focus,
.recommendations-table .recommendations-type ul li:active{
	background:#4a4a4a;
	color:#fff;
}

#recommendations-modal .modal-desc{
	font-size: 0.9rem;
    padding-left: 20px;	
}
#recommendations-modal .flex-header{
    justify-content: space-between;
    width: 100%;
    align-items: baseline;	
	display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
     
}
#recommendations-modal .bg-grey{
     
}
#recommendations-modal .status{
    display: inline-flex;
    position: relative;
    background: #f1f1f1;
    padding: 4px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #0d3974;
    border-radius: 10px;
    font-size: 0.9rem;
}
#recommendations-modal .status .status-label{
         margin-right: 10px;
    border-right: 2px solid #000;
    padding-right: 10px;
	color: #0d3974;
}

 #recommendations-modal .status .status-type{
     color:#007bff;
}
 #recommendations-modal .status .status-edit{
    cursor: pointer;
    color: #0d3974;
    margin-left: 10px;
	
}

  #recommendations-modal .modify-status{
background: #f1f1f1;
    padding: 20px;
    border-top: 1px solid #0d39742e;
    border-radius: 0;
    margin-top: 4px;
    font-size: 0.9rem;
	position:relative;
}
.custom-action-btn{
margin: 4px;
    background: transparent;
    color: #000;
    font-size: 0.9rem;

	
}
#popup-close-btn{
	position:absolute;
	right:20px;
	top:20px;
	color:#f74c4c;
	cursor:pointer;
}
 .custom-action-btn.btn-primary{
    color: #0062cc;
    
}
.custom-action-btn.btn-primary:hover,.custom-action-btn.btn-primary:focus,
.custom-action-btn.btn-success:hover, .custom-action-btn.btn-success:focus,
.custom-action-btn.btn-danger:hover, .custom-action-btn.btn-danger:focus
{
	color:#fff
}
 .custom-action-btn.btn-success{
    color: #1e7e34;    
}


 .custom-action-btn.btn-danger{
    color: #bd2130;    
}

.pbi-img{
	    max-width: 90%;
    margin: auto;
    margin-top: 50px;
}
.otherRec{
	
 
	
}
.heading-6{
	margin-top: 20px;
    font-size: 1.2rem;
    background: #f1f1f1;
    padding: 10px;
    text-align: center;
    font-weight: 700;
}
.otherRec ul{
	
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 80px;
	
	
	
}
.otherRec ul li{
    margin: 0;
    border: 1px solid #9c9c9c;
    padding: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
	
	
}









@font-face{font-family:'Glyphicons Halflings';src:url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot');src:url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.woff') format('woff'),url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.ttf') format('truetype'),url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');}.glyphicon{position:relative;top:1px;display:inline-block;font-family:'Glyphicons Halflings';font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;}
#accordionMenu, .accordionMenu {
  max-width: 100%;
      max-width: 100%;
    
}
#filter-popup .modal-header{
    background: #007bff;
    color: #fff;
    
}

#accordionMenu h4, .accordionMenu h4{
    font-size: 1rem;
    
    margin-bottom: 2px;
    font-family: gilroy-medium;
}
#accordionMenu h4 a,  .accordionMenu  h4 a{
    color: #5a5a5a;
}
#accordionMenu ul, .accordionMenu ul{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    background: #fbfbfb;
}
#side-nav-accordionMenu ul{
    display: block;
    padding: 8px 2px;
    text-decoration: none;
}

#accordionMenu ul li, .accordionMenu ul li{
	 
}
#accordionMenu ul li a, .accordionMenu ul li a{
	 color:#000000;
}

.panel-body {
  padding: 0;
}

.panel-group .panel+.panel {
  margin-top: 0;
  border-top: 0;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-default>.panel-heading {
  color: #333;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position:relative;
  background: #eeeeee;
}

.panel-default>.panel-heading a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
      font-size: 14px;
    top: 50%;
    position: absolute;
    right: 12px;
	    transform: translateY(-50%);
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #eee;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\e113";
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\e114";
}
.mr-b{
	    margin-bottom: 30px;
}

.strategies-table{
	max-width:98%;
	margin:auto;
	padding:10px;
}

.strategies-table tr td, .strategies-table tr th{
	vertical-align:middle;
}
.strategies-col-sno{width:90px;}

#side-nav-accordionMenu .panel-heading h4.panel-title{
    padding-top: 5px;
    padding-bottom: 4px;
    border-bottom: 1px solid #dedede;
    font-family: gilroy-medium;

}

#side-nav-accordionMenu  .panel-default>.panel-heading a[aria-expanded="true"]{
	background:transparent;
}
#side-nav-accordionMenu  .panel-collapse ul{
	       border: 2px solid #949494;
}
#side-nav-accordionMenu  .panel-collapse li{
	position:relative;
}

.custom_group .custom_label{
	    padding-left: 10px;
}

#side-nav-accordionMenu  .panel-collapse ul li a .num-val{
	    position: absolute;
    right: 4px;
    font-size: 12px;
    color: #1a73e8;
    background: #e2e2e2;
    padding: 4px;
}



 
#tabs .container-fluid{
	background: #fff;
    padding: 20px 50px;
    margin-top: 0px;
}
#tabs .container-fluid nav{
     max-width:600px;
}
#tabs .container-fluid .nav-container{
   background: #ebebeb;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #e85a27;
    font-size: 20px;
}
.tabs-content{
	background: #eaeaea;
    padding: 20px 50px;
    margin-top: 0px;
}
#tabs .tab-content{
	padding-top: 2.4rem !important;
}
.aggregation-types{
    background: #2196F3;
    padding-left: 10px;
    padding-right: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: inline-block;
    line-height: 1.5;
    margin-right: 5px;
    color: #fff;
    font-size: 14px;
}
.small-txt{
	display: block;
    font-size: 12px;
    line-height: 0.9;
    color: #2196F3;
}
.capabilities-tbody{
    font-size: 14px;
    font-family: sans-serif;
    color: #646464;
}
.capabilities-tbody .fas.fa-pen-square{
display: inline-block;
    position: absolute;
    right: 9px;
    color: #9E9E9E;
    font-size: 20px;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    position:relative;
    vertical-align: middle;
}

.modal-footer{
	    background: #d9d9d9;
}
.placeholder-txt{
	    position: absolute;
    background: #00000082;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    right: 50px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-weight: 900;
    padding: 30px;
    border-radius: 10px;
}

.winnerAlgo{
	color: #ffffff;
    font-size: 12px;
    background: #026370;
    text-align: center;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.run-btn{
	    position: relative;
    text-align: left;
    top: auto;
    left: auto;
    border: 1px solid #3F51B5;
    padding: 10px;
    display: inline-block;
    margin-bottom: 20px;
}